*{
    font-family: 'Kameron', serif;
    margin:0;
}
header{
    height: 250px;
    background-image:url(../img/POSIBLE\ FONDO\ 4\ co.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -10px;
    margin-top: 0;
    border-bottom: 1px white solid;
    }
.divNav{
    z-index: 2;
}
.arribaEncabezado{
    height: 271px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.escudoH{
    position: absolute;
    left:77%;
    bottom: -10%;
    z-index: 10;
    }
.paraResponsive{
    position: relative;
}

header h1{
    color:black;
    -webkit-text-stroke: 1px white;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
}

main{
    background-color: grey;
}
main a{
    text-decoration: none;
    color:whitesmoke;
}
.divNav li{
    font-size: 24px;
    list-style: none;
    display: inline;
    margin-left: 80px;
    margin-right: 80px;
}
.divNav ul{
    position: relative;
    bottom: 3px;
}
.hover li a:hover{
    color: rgb(218, 213, 205);
}
.mainI{
    padding: 30px;
    font-size: 20px;
}
.imgCuerpo{
    width: 700px;
    height: 500px;
}
.mainF{
    padding: 30px;
    font-size: 20px;
}
.mainF h2{
    display: flex;
    justify-content:center ;
    font-size: 50px;
    font-weight: bold;
}
.mainF h3{
    font-size: 40px;
    font-weight: bold;
}
.mainF h4{
    font-size: 33px;
}
.tabla{
    width: 600px;
}
.contenedorTablas1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenedorTablas2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mainS{
    padding-left: 30px;
    padding-top:60px ;
    padding-right: 30px;
    font-size: 25px;
}
.mainS h3{
    font-size: 28px;
    font-weight: bold;
}
.mainS a{
    text-decoration: none;
}
.contenedorIconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.iconoImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(144, 20, 20);
    -webkit-text-stroke: 0.3px rgb(33, 31, 31);
    font-weight: bold;
}
.imagenIcono{
    filter: grayscale(1);
}
.imagenIcono:hover{
    filter: none;
}
.contenedorSponsors{
    display: flex;
    flex-direction: column;
    align-items: normal;
}
.itemSponsor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.itemSponsor img{
    width: 200px;
}
.imagenSponsor{
    filter: grayscale(1);
}

.imagenSponsor:hover{
    filter: none;
}
.mainT{
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 30px;
    font-size: 25px;
}
.mainT h1{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.mainT h2{
    font-size:40px ;
}
.mainC{
   padding-top: 90px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
   display: flex;
   flex-direction: column;
   gap: 75px;
}
main h2{
    font-size: 35px;
    font-weight: bold;
}
form{
    font-size: 25px;
    font-style: italic;
    padding: 20px;
}
form input{
    font-size: 20px;
}
form textarea{
    font-size: 20px;
}
.mainC a{
    font-size: 20px;
    color: black;
}
.mainC h3{
    font-size: 30px;
    font-weight: bold;
}
.mainC p{
    font-size: 25px;
}
.mainC h2{
    font-size:45px;
    font-weight: bold;
}
/*footer{
    background-color: rgb(36, 36, 36);
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:15px;
}
footer h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
}
footer p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding:12px;
}*/
.escudoF{
    width:90px ;
    height:110px ;
}
/*
.abajoPie{
    display: flex;
    justify-content: space-between;
}
.escudoPie{
    display: flex;
    justify-content: center;

}
*/
.parteUnoC{
    display:flex;
    justify-content: space-evenly;
}
.redes{
    display: flex;
    flex-direction: column;
}
.redesTitulo{
    display: flex;
    flex-direction: column;
}
.tituloFormulario{
    display: flex;
    flex-direction: column;
}
.parteDosC{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sedeTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    padding: 5px;
    width: 50%;
    height:400px
}
.colorBtn{
    background-color: rgb(67, 67, 67);
    color: beige;
    font-size: 17px;
}
.colorBtn:hover{
    background-color: rgb(56, 56, 56);
    border: 0.5px solid white;
}
.colorCardbody{
    background-color:  rgb(144, 20, 20);
    color: whitesmoke;
    font-size: 22px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .escudoH {
        width: 75px;
        height: 100px;
    }

    .parteUnoC {
        flex-direction: column;
    }

    .mainC h3 {
        font-size: 15px;
        font-weight: bold;
    }

    .mainC p {
        font-size: 10px;
    }

    .mainC h2 {
        font-size: 25px;
        font-weight: bold;
    }
    form {
        font-size: 12px;
        font-style: italic;
        padding: 10px;
    }
    
    form input {
        font-size: 10px;
    }
    
    form textarea {
        font-size: 10px;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .escudoH {
        width: 120px;
        height: 145px;
    }

.parteUnoC {
    flex-direction: column;
}


.mainC h3 {
    font-size: 20px;
    font-weight: bold;
}

.mainC p {
    font-size: 15px;
}

.mainC h2 {
    font-size: 30px;
    font-weight: bold;
}
form {
    font-size: 15px;
    font-style: italic;
    padding: 15px;
}

form input {
    font-size: 12px;
}

form textarea {
    font-size: 12px;
}
}
@media (min-width:600px) and (max-width:768px) {
    .escudoH {
        width: 150px;
        height: 175px;
    }
    .parteUnoC{
        flex-direction: column;
    }
    .parteDosC{
        flex-direction: column;
    }
    .mainC h3 {
        font-size: 25px;
        font-weight: bold;
    }

    .mainC p {
        font-size: 20px;
    }

    .mainC h2 {
        font-size: 35px;
        font-weight: bold;
    }
    form {
        font-size: 20px;
        font-style: italic;
        padding: 20px;
    }
    
    form input {
        font-size: 15px;
    }
    
    form textarea {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .escudoH {
        width: 150px;
        height: 175px;
    }
    .mainC h3 {
        font-size: 30px;
        font-weight: bold;
    }

    .mainC p {
        font-size: 25px;
    }

    .mainC h2 {
        font-size: 45px;
        font-weight: bold;
    }
    form {
        font-size: 25px;
        font-style: italic;
        padding: 20px;
    }
    
    form input {
        font-size: 20px;
    }
    
    form textarea {
        font-size: 20px;
    }
}

@media (min-width:1024px) {
    .escudoH {
        width: 225px;
        height: 250px;
    }

    .mainC h3 {
        font-size: 30px;
        font-weight: bold;
    }

    .mainC p {
        font-size: 25px;
    }

    .mainC h2 {
        font-size: 45px;
        font-weight: bold;
    }
    form {
        font-size: 25px;
        font-style: italic;
        padding: 20px;
    }
    
    form input {
        font-size: 20px;
    }
    
    form textarea {
        font-size: 20px;
    }
}
