* {
  font-family: "Kameron", serif;
  margin: 0;
}

header {
  height: 250px;
  background-image: url(../img/fondoheader.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -10px;
  margin-top: 0;
  border-bottom: 1px white solid;
}
header h1 {
  color: black;
  -webkit-text-stroke: 1px white;
  font-weight: bolder;
  text-align: center;
  font-size: 60px;
}

.arribaEncabezado {
  height: 271px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.escudoHeader {
  position: absolute;
  left: 77%;
  bottom: -10%;
  z-index: 10;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.paraResponsive {
  position: relative;
}

.divNav {
  z-index: 2;
}
.divNav li {
  font-size: 24px;
  list-style: none;
  display: inline;
  margin-left: 80px;
  margin-right: 80px;
}
.divNav li a:hover {
  color: rgb(218, 213, 205);
}
.divNav ul {
  position: relative;
  bottom: 3px;
}

form {
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
form input {
  font-size: 25px;
}
form textarea {
  font-size: 20px;
}

.formulario {
  display: flex;
  justify-content: center;
}

.contenedorIconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.iconoImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(144, 20, 20);
  -webkit-text-stroke: 0.3px rgb(33, 31, 31);
  font-weight: bold;
  animation-duration: 3s;
}

.imagenIconoS {
  filter: grayscale(1);
}

.imagenIconoS:hover {
  filter: none;
}

main {
  background-color: grey;
}
main h2 {
  font-size: 35px;
  font-weight: bold;
}
main a {
  text-decoration: none;
  color: whitesmoke;
}

.mainI {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cuerpoTecnico {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cardCT {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 2s;
}

.borderCardCT {
  border: none;
  width: 100%;
}

.mainF {
  padding: 30px;
  font-size: 20px;
}
.mainF h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.mainF h3 {
  font-size: 40px;
  font-weight: bold;
}
.mainF h4 {
  font-size: 33px;
}

.mainS {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 30px;
  padding-top: 60px;
  padding-right: 30px;
  font-size: 25px;
}
.mainS h3 {
  font-size: 28px;
  font-weight: bold;
}
.mainS a {
  text-decoration: none;
}

.comunicados {
  animation-duration: 3s;
}

.mainT {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 30px;
  padding-top: 60px;
  padding-right: 30px;
  font-size: 25px;
}
.mainT h2 {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.mainT h3 {
  font-weight: bold;
  font-size: 40px;
}
.mainT .cardPr {
  animation-duration: 2.5s;
}

.colorBtn {
  background-color: rgb(67, 67, 67);
  color: beige;
  font-size: 17px;
}

.colorBtn:hover {
  background-color: rgb(56, 56, 56);
  border: 0.5px solid white;
}

.colorCardbody {
  background-color: rgb(144, 20, 20);
  color: whitesmoke;
  font-size: 22px;
}

.mainC {
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 75px;
}
.mainC h2 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.mainC h3 {
  font-size: 30px;
  font-weight: bold;
}
.mainC p {
  font-size: 25px;
}
.mainC .contenedorIconosredes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mainC .imgiconoredes {
  width: 60px;
  height: 60px;
}

.parteUnoC {
  display: flex;
  justify-content: space-evenly;
}

.redes {
  display: flex;
  flex-direction: row;
}

.redesTitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.parteDosC {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sedeTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filaNoticias {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.noticias {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 15px;
}

.noticia {
  animation-duration: 2s;
}

.overlayNoticia {
  font-size: 25px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.overlayNoticia:hover {
  background-color: rgba(130, 2, 2, 0.388);
}
.overlayNoticia:hover .textoCard {
  opacity: 1;
}

.borderCard {
  border: none;
}

.textoCard {
  opacity: 0;
}

.contenedorSponsors {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.itemSponsor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
.itemSponsor img {
  width: 200px;
}

.imagenSponsor {
  filter: grayscale(1);
}

.imagenSponsor:hover {
  filter: none;
}

.tabla {
  width: 500px;
  height: 100px;
  animation-duration: 2.5s;
}

.contenedorTablas1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contenedorTablas2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contenedorTablas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px;
}

.plantel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorPlantel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.plantelImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(106, 6, 6);
  -webkit-text-stroke: 0.4px rgb(33, 31, 31);
  font-weight: bold;
  text-shadow: 0.5px 1px 1px rgb(50, 50, 50);
  font-size: 17px;
}

.plantelImg img {
  width: 150px;
  height: 150px;
}

.imagenPlantel {
  filter: grayscale(1);
}

.imagenPlantel:hover {
  filter: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .escudoHeader {
    width: 75px;
    height: 100px;
  }
  .mainC h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .mainC h3 {
    font-size: 15px;
    font-weight: bold;
  }
  .mainC iframe {
    padding: 5px;
    width: 75%;
    height: 150px;
  }
  .mainC .parteUnoC {
    flex-direction: column;
  }
  .mainC .redes {
    flex-direction: column;
  }
  .mainC form {
    font-size: 12px;
    font-style: italic;
    padding: 10px;
  }
  .mainC form input {
    font-size: 10px;
  }
  .mainC form textarea {
    font-size: 10px;
  }
  .mainC .contenedorIconosredes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainC .imgiconoredes {
    width: 30px;
    height: 30px;
  }
  .mainC .redesTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainI h2 {
    font-size: 20px;
  }
  .overlayNoticia h3 {
    font-weight: bold;
    -webkit-text-stroke: 0.2px rgb(29, 28, 28);
    font-size: 15px;
    color: whitesmoke;
    text-shadow: 4px 3px 2px black;
  }
  .mainF h2 {
    font-size: 20px;
  }
  .mainF h3 {
    font-size: 15px;
  }
  .mainF h4 {
    font-size: 12px;
  }
  .contenedorTablas1 {
    flex-direction: column;
    align-items: center;
  }
  .contenedorTablas2 {
    flex-direction: column;
    align-items: center;
  }
  .contenedorTablas {
    gap: 5px;
  }
  .tabla {
    width: 250px;
    height: 50px;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .escudoHeader {
    width: 100px;
    height: 125px;
  }
  .parteUnoC {
    flex-direction: column;
  }
  .mainC h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .mainC h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .mainC iframe {
    padding: 5px;
    width: 75%;
    height: 200px;
  }
  .mainC .parteUnoC {
    flex-direction: column;
  }
  .mainC .redes {
    flex-direction: column;
  }
  .mainC form {
    font-size: 15px;
    font-style: italic;
    padding: 15px;
  }
  .mainC form input {
    font-size: 12px;
  }
  .mainC form textarea {
    font-size: 12px;
  }
  .mainC .contenedorIconosredes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainC .imgiconoredes {
    width: 35px;
    height: 35px;
  }
  .mainC .redesTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainC img {
    width: 150px;
  }
  .mainI h2 {
    font-size: 25px;
  }
  .overlayNoticia h3 {
    font-weight: bold;
    -webkit-text-stroke: 0.2px rgb(29, 28, 28);
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 4px 3px 2px black;
  }
  .mainF h2 {
    font-size: 25px;
  }
  .mainF h3 {
    font-size: 20px;
  }
  .mainF h4 {
    font-size: 18px;
  }
  .contenedorTablas1 {
    flex-direction: column;
    align-items: center;
  }
  .contenedorTablas2 {
    flex-direction: column;
    align-items: center;
  }
  .contenedorTablas {
    gap: 5px;
  }
  .tabla {
    width: 300px;
    height: 75px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .escudoHeader {
    width: 120px;
    height: 145px;
  }
  .mainC h2 {
    font-size: 25px;
    font-weight: bold;
  }
  .mainC h3 {
    font-size: 25px;
    font-weight: bold;
  }
  .mainC iframe {
    padding: 5px;
    width: 75%;
    height: 250px;
  }
  .mainC .parteUnoC {
    flex-direction: column;
  }
  .mainC .contenedorIconosredes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainC .imgiconoredes {
    width: 40px;
    height: 40px;
  }
  .mainC .redesTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    font-size: 20px;
    font-style: italic;
    padding: 20px;
  }
  form input {
    font-size: 15px;
  }
  form textarea {
    font-size: 15px;
  }
  .mainI h2 {
    font-size: 30px;
  }
  .overlayNoticia h3 {
    font-weight: bold;
    -webkit-text-stroke: 0.2px rgb(29, 28, 28);
    font-size: 25px;
    color: whitesmoke;
    text-shadow: 4px 3px 2px black;
  }
  .mainF h2 {
    font-size: 30px;
  }
  .mainF h3 {
    font-size: 25px;
  }
  .mainF h4 {
    font-size: 20px;
    text-align: center;
  }
  .contenedorTablas1 {
    flex-direction: column;
    align-items: center;
  }
  .contenedorTablas2 {
    flex-direction: column;
    align-items: center;
  }
  .contenedorTablas {
    gap: 5px;
  }
  .tabla {
    width: 350px;
    height: 75px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .escudoHeader {
    width: 150px;
    height: 175px;
  }
  .mainC h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
  }
  .mainC h3 {
    font-size: 30px;
    font-weight: bold;
  }
  .mainC iframe {
    padding: 5px;
    width: 75%;
    height: 300px;
  }
  .mainC form {
    font-size: 25px;
    font-style: italic;
    padding: 20px;
  }
  .mainC form input {
    font-size: 20px;
  }
  .mainC form textarea {
    font-size: 20px;
  }
  .mainC .contenedorIconosredes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainI h2 {
    font-size: 35px;
  }
  .overlayNoticia h3 {
    font-weight: bold;
    -webkit-text-stroke: 0.2px rgb(29, 28, 28);
    font-size: 27px;
    color: whitesmoke;
    text-shadow: 4px 3px 2px black;
  }
  .tabla {
    width: 250px;
    height: 100px;
  }
  .contenedorTablas1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .contenedorTablas2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .escudoHeader {
    width: 150px;
    height: 175px;
  }
  .mainC h3 {
    font-size: 30px;
    font-weight: bold;
  }
  .mainC h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
  }
  .mainC iframe {
    padding: 5px;
    width: 60%;
    height: 350px;
  }
  .mainC form {
    font-size: 25px;
    font-style: italic;
    padding: 20px;
  }
  .mainC form input {
    font-size: 20px;
  }
  .mainC form textarea {
    font-size: 20px;
  }
  .mainI h2 {
    font-size: 45px;
  }
  .overlayNoticia h3 {
    font-weight: bold;
    -webkit-text-stroke: 0.2px rgb(29, 28, 28);
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 4px 3px 2px black;
  }
  .contenedorTablas1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .contenedorTablas2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.escudoF {
  width: 90px;
  height: 110px;
}

/*# sourceMappingURL=style.css.map */
