main {
    background-color: grey;

    h2 {
        font-size: 35px;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: whitesmoke;
    }
}

.mainI {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.cuerpoTecnico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cardCT {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 2s;
}

.borderCardCT {
    border: none;
    width: 100%;
}

.mainF {
    padding: 30px;
    font-size: 20px;

    h2 {
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }

    h3 {
        font-size: 40px;
        font-weight: bold;
    }

    h4 {
        font-size: 33px;
    }
}

.mainS {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 30px;
    font-size: 25px;

    h3 {
        font-size: 28px;
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }
}
.comunicados{
    animation-duration: 3s;
}
.mainT {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 30px;
    font-size: 25px;

    h2 {
        font-size: 50px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    h3 {
        font-weight: bold;
        font-size: 40px;
    }
    .cardPr{
        animation-duration: 2.5s;
    }
}

.colorBtn {
    background-color: rgb(67, 67, 67);
    color: beige;
    font-size: 17px;
}

.colorBtn:hover {
    background-color: rgb(56, 56, 56);
    border: 0.5px solid white;
}

.colorCardbody {
    background-color: rgb(144, 20, 20);
    color: whitesmoke;
    font-size: 22px;
}

.mainC {
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 75px;

    h2 {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    }

    h3 {
        font-size: 30px;
        font-weight: bold;
    }

    p {
        font-size: 25px;
    }
    .contenedorIconosredes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .imgiconoredes{
        width: 60px;
        height: 60px;
    }
}
.parteUnoC{
    display:flex;
    justify-content: space-evenly;
}
.redes{
    display: flex;
    flex-direction: row;
}
.redesTitulo{
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 20px;
}

.parteDosC{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sedeTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
