@media (min-width: 320px) and (max-width: 480px) {
    .escudoHeader{
        width: 75px;
        height: 100px;
    }


    .mainC {
        h2 {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }

        h3 {
            font-size: 15px;
            font-weight: bold;
        }
        iframe {
            padding: 5px;
            width: 75%;
            height: 150px;
        }
        .parteUnoC {
            flex-direction: column;
        }
        .redes{
            flex-direction: column;
        }
        form {
            font-size: 12px;
            font-style: italic;
            padding: 10px;
    
            input {
                font-size: 10px;
            }
    
            textarea {
                font-size: 10px;
            }
        }
        .contenedorIconosredes{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .imgiconoredes{
            width: 30px;
            height: 30px;
        }
        .redesTitulo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .mainI h2 {
        font-size: 20px;
    }

    .overlayNoticia h3 {
        font-weight: bold;
        -webkit-text-stroke: 0.2px rgb(29, 28, 28);
        font-size: 15px;
        color: whitesmoke;
        text-shadow: 4px 3px 2px black;
    }
    .mainF{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 15px;
        }
        h4{
            font-size: 12px;
        }
    }
    .contenedorTablas1{
        flex-direction: column;
        align-items: center;
    }
    .contenedorTablas2{
        flex-direction: column;
        align-items: center;
    }
    .contenedorTablas{
        gap: 5px;
    }
    .tabla{
        width:250px;
        height: 50px;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .escudoHeader{
        width: 100px;
        height: 125px;
    }

    .parteUnoC {
        flex-direction: column;
    }

    .mainC {
        h2 {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
        }
        iframe {
            padding: 5px;
            width: 75%;
            height: 200px;
        }
        .parteUnoC {
            flex-direction: column;
        }
        .redes{
            flex-direction: column;
        }
        form {
            font-size: 15px;
            font-style: italic;
            padding: 15px;
    
            input {
                font-size: 12px;
            }
    
            textarea {
                font-size: 12px;
            }
        }
        .contenedorIconosredes{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .imgiconoredes{
            width: 35px;
            height: 35px;
        }
        .redesTitulo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            width: 150px;
        }
    }

    .mainI h2 {
        font-size: 25px;
    }

    .overlayNoticia h3 {
        font-weight: bold;
        -webkit-text-stroke: 0.2px rgb(29, 28, 28);
        font-size: 20px;
        color: whitesmoke;
        text-shadow: 4px 3px 2px black;
    }
    .mainF{
        h2{
            font-size: 25px;
        }
        h3{
            font-size: 20px;
        }
        h4{
            font-size: 18px
        }
    }
    .contenedorTablas1{
        flex-direction: column;
        align-items: center;
    }
    .contenedorTablas2{
        flex-direction: column;
        align-items: center;
    }
    .contenedorTablas{
        gap: 5px;
    }
    .tabla{
        width:300px;
        height: 75px;
    }
}

@media (min-width:600px) and (max-width:768px) {
    .escudoHeader{
        width: 120px;
        height: 145px;
    }

    .mainC {
        h2 {
            font-size: 25px;
            font-weight: bold;
            
        }

        h3 {
            font-size: 25px;
            font-weight: bold;
        }
        iframe {
            padding: 5px;
            width: 75%;
            height: 250px;
        }
        .parteUnoC {
            flex-direction: column;
        }
        .contenedorIconosredes{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .imgiconoredes{
            width: 40px;
            height: 40px;
        }
        .redesTitulo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    form {
        font-size: 20px;
        font-style: italic;
        padding: 20px;

        input {
            font-size: 15px;
        }

        textarea {
            font-size: 15px;
        }
    }

    .mainI h2 {
        font-size: 30px;
    }

    .overlayNoticia h3 {
        font-weight: bold;
        -webkit-text-stroke: 0.2px rgb(29, 28, 28);
        font-size: 25px;
        color: whitesmoke;
        text-shadow: 4px 3px 2px black;
    }
    .mainF{
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 25px;
        }
        h4{
            font-size: 20px;
            text-align: center;
        }
    }
    .contenedorTablas1{
        flex-direction: column;
        align-items: center;
    }
    .contenedorTablas2{
        flex-direction: column;
        align-items: center;
    }
    .contenedorTablas{
        gap: 5px;
    }
    .tabla{
        width:350px;
        height: 75px;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .escudoHeader{
        width: 150px;
        height: 175px;
    }
    .mainC {
        h2 {
            font-size: 45px;
            font-weight: bold;
            text-align: center;
        }

        h3 {
            font-size: 30px;
            font-weight: bold;
        }
        iframe {
            padding: 5px;
            width: 75%;
            height: 300px;
        }
        form {
            font-size: 25px;
            font-style: italic;
            padding: 20px;
    
            input {
                font-size: 20px;
            }
    
            textarea {
                font-size: 20px;
            }
        }
        .contenedorIconosredes{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        }
    .mainI h2 {
        font-size: 35px;
    }

    .overlayNoticia h3 {
        font-weight: bold;
        -webkit-text-stroke: 0.2px rgb(29, 28, 28);
        font-size: 27px;
        color: whitesmoke;
        text-shadow: 4px 3px 2px black;
    }
    .tabla {
        width:250px;
        height: 100px;
    }
    
    .contenedorTablas1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contenedorTablas2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width:1024px) {
    .escudoHeader{
        width: 150px;
        height: 175px;
    }

    .mainC {
        h3 {
            font-size: 30px;
            font-weight: bold;
        }
        h2 {
            font-size: 45px;
            font-weight: bold;
            text-align: center;
        }
        iframe {
            padding: 5px;
            width: 60%;
            height: 350px;
        }
        form {
            font-size: 25px;
            font-style: italic;
            padding: 20px;
    
            input {
                font-size: 20px;
            }
    
            textarea {
                font-size: 20px;
            }
        }
    }

    .mainI h2 {
        font-size: 45px;
    }

    .overlayNoticia h3 {
        font-weight: bold;
        -webkit-text-stroke: 0.2px rgb(29, 28, 28);
        font-size: 30px;
        color: whitesmoke;
        text-shadow: 4px 3px 2px black;
    }
    
    .contenedorTablas1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contenedorTablas2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}