.tabla {
    width: 600px;
}

.contenedorTablas1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedorTablas2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}